.modalcontent{
    border: 5px solid rgba(0, 0, 0, 0.2) !important;
}
.dropzone{
    padding: 60px 20px;
    border-radius: 10px;
    border: 2px #b4b4b4 dotted;
}
.uploadlabel{
    color: #03a5e3;
    padding-right: 3px;
    font-weight: 600;
}
.iconupload{
    width: 70px;
    padding: 10px;
}
.orgimage{
    width: 100%;
    
}
.reupload{
    color: blue;
}