.orgdetails{
    padding: 20px;
    border:2px #9e9e9e47 solid;
    text-align: center;
}
.orgdetails label{
    font-size: 25px;
}
.orgdetails button{
    margin: 10px;
    background-color: #0485f3;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}